<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffz.boot.mybatis.mapper.TeacherMapper">
  <resultMap id="teacherMap" type="com.ffz.boot.mybatis.domain.Teacher">
    <id column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="clazz_id" jdbcType="INTEGER" property="clazzId" />
  </resultMap>

  <select id="findAll" resultMap="teacherMap">
    SELECT *
    FROM t_teaacher
  </select>
  <insert id="insertTeacher" keyColumn="teacher_id" keyProperty="teacherId"
          parameterType="com.ffz.boot.mybatis.domain.Teacher" useGeneratedKeys="true">
    insert into `t_teacher` (`teacher_name`, `clazz_id`)
    values (#{teacherName,jdbcType=VARBINARY},#{clazzId,jdbcType=INTEGER})
  </insert>
  </mapper>